.vscode/
vs/.vs/
vs/Debug
vs/Release
vs/*.user

bin/CommandCenter
bin/*.exe
bin/*.ilk
bin/*.pdb
bin/*.lib
bin/*.bsc
bin/*obj
bin/*map
bin/*pdb
bin/gnuplot
bin/results

*.gpl
*.js
emscripten/BOSS.data
*.o
/bin/WTF.txt
/vs/x64
/bin/data
/bin/results2
/bin/test
/MCTS Results/small range
/MCTS Results/parsed data
/MCTS Results/graphs
/MCTS Results/big range
/bin/AverageValue
/MCTS Results/values
