.vscode/
vs/.vs/
vs/Debug
vs/Release
vs/*.user

bin/CommandCenter
bin/*.exe
bin/*.ilk
bin/*.pdb
bin/*.lib
bin/*.bsc
bin/*obj
bin/*map
bin/*pdb
bin/gnuplot
bin/results

*.gpl
*.js
emscripten/BOSS.data
*.o
/vs/x64
/bin/results2
/bin/test
/MCTS Results/small range
/MCTS Results/parsed data
/MCTS Results/graphs
/MCTS Results/big range
/bin/AverageValue
/MCTS Results/values
/bin/changingroot
/bin/IntegralDFS/06-02-2019_12-56-04_testDFSRun0
/bin/__pycache__
/bin/asd.py
/bin/test2.py
/bin/boost_python36-vc141-mt-x64-1_69.dll
/bin/data/models
/bin/data/DataTuples
/bin/data/tf
/bin/data/logs
/bin/data/parsed_iteration_0.csv
/bin/data/iteration_0.csv
/bin/dataruns
/bin/DFS
/MCTS Results/DFSvsMCTS
/MCTS Results/SRMV2
/MCTS Results/SRMV
/MCTS Results/SRAV2
/MCTS Results/SRAV
/MCTS Results/CRMV
/MCTS Results/CRAV
/bin/SRMV_0
/bin/DFS_0/05-03-2019_19-34-39_DFS_0DFSRun0
/bin/Experiment_00.txt
/bin/Experiment_0.txt
/bin/test4/09-03-2019_19-30-05_MCTSC0.15Run0
/MCTS Results/Compare
/bin/ExperimentsMCTS_3.txt
/bin/ExperimentsMCTS_0.txt
/bin/ExperimentsMCTS_4.txt
/bin/ToUseInGame5000
/bin/ToUseInGame10000
/bin/DFS Experiments
/bin/0
/bin/withupgrades
/bin/temp
/bin/NMCS
/bin/MCTS
/bin/limitworkers
/bin/SavedStates
/bin/data/__pycache__/data_filter_all_functions.cpython-36.pyc
/bin/6min
/bin/test2
/bin/BestEdgeFirst
/bin/asd
/bin/AllEdgeFirst
/bin/5000
/bin/20000
/bin/tttt
/bin/aa
/bin/ValueVSIntegral
/bin/ValueParameterSweepOld
/bin/ValueParameterSweep
/MCTS Results/ParameterSweep
/MCTS Results/bigrun
/bin/TestingTheory
/bin/test5
/bin/test6
/bin/CVal
/bin/newtheory
/MCTS Results/newtheory
/bin/reset/true
/bin/reset/false/1000
/bin/ML/logs
/bin/ML/models
/bin/ML/__pycache__
/bin/expop
