.vscode/
vs/.vs/
vs/Debug
vs/Release
vs/*.user

bin/CommandCenter
bin/*.exe
bin/*.ilk
bin/*.pdb
bin/*.lib
bin/*.bsc
bin/*obj
bin/*map
bin/*pdb
bin/gnuplot
bin/results

*.gpl
*.js
emscripten/BOSS.data
*.o
/bin/WTF.txt
/vs/x64
/bin/data
/bin/results2
/bin/test
/MCTS Results/small range
/MCTS Results/parsed data
/MCTS Results/graphs
/MCTS Results/big range
/bin/AverageValue
/MCTS Results/values
/bin/changingroot
/bin/IntegralDFS/06-02-2019_12-56-04_testDFSRun0
/bin/__pycache__
/bin/asd.py
/bin/test2.py
/bin/boost_python36-vc141-mt-x64-1_69.dll
